/* Estilos gerais */
body {
    font-family: Arial, sans-serif;
    background-color: #f0f0f0;
}

.navbarcor {
    background-color: #007bff;
    color: #fff;
}

.controle {
    margin-right: 20px;
}

.sublinhado {
    text-decoration: none;
    color: #fff;
}

.espacamentoitens {
    margin-right: 15px;
}

.card {
    background-color: #fff;
    border-radius: 15px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    padding: 20px;
}

/* Formulário de login */
.form-control {
    border: 1px solid #ccc;
    border-radius: 5px;
    padding: 10px;
    margin-bottom: 10px;
}

.form-floating label {
    color: #000;
}

.btn-login {
    background-color: #ffc107;
    color: #000;
}

/* Estilos para links e botões */
a {
    text-decoration: none;
    color: #007bff;
}

a:hover {
    text-decoration: underline;
}

/* Estilos específicos para o formulário de login */
.card-title {
    font-size: 28px;
    font-weight: bold;
}

.form-check-label {
    color: #000;
}
